* {
    box-sizing: border-box;
    padding: 0px; 
    margin: 0px; 
    background-image: linear-gradient(var(--lilac), var(--sky), var(--mint), var(--lemon),var(--peach),var(--pink));
    font-family: 'Montserrat Alternates', sans-serif;   
}

:root {
    --pink: #EED8DE; 
    --peach: #FFC182;
    --lemon: #F5F591; 
    --mint: #CBF5B5; 
    --sky: #C2D5EC; 
    --lilac: #E1CFD8; 
}; 

.header-image img {
    height: 100px; 
    width: auto; 
    background-image: none; 
}

section, navbar, div, a, h2, h4, img, footer, p, i {
    background-image: none;
}

.nav-but {
    background-color: black; 
    border: 3px solid transparent; 
    border-image-source: linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    border-image-slice: 1;
}

a {
    font-size: 45px;
    font-family: 'Monoton', cursive;
    background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: black;
}

footer p {
    font-size: 18px;
    background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title, .description, .link, .foot {
    background-color: black;
    border: 3px solid transparent; 
    border-image-source: linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    border-image-slice: 1;
}

.title h2, .description h4 {
    font-family: 'Montserrat Alternates', sans-serif;   
    font-size: 50px; 
    background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p {
    background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description h4 {
    font-size: 25px; 
    text-align: end;
}

.description p {
    font-size: 30px; 
    text-align: end; 
}


.row, .col {
    margin: 10px; 
} 

.link {
    background-color: black; 
}

.link h1 {
    font-size: 60px;
    font-family: 'Monoton', cursive;
    background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    font-size: 50px;
    background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover, i:hover {
    background: -webkit-linear-gradient(var(--lilac), var(--sky), var(--mint));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


